body { /* styles.css */
  font-family: Arial, sans-serif; /* Mengatur font family untuk seluruh dokumen */
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
}

header { /* Penyusunan tampilan untuk bagian header */
  background-color: #FFC107; /* Mengatur warna latar belakang */
  color: #FFFFFF; /* Mengatur warna teks */
  text-align: center; /* Penyusunan teks ke tengah */
  padding: 20px; /* Penambahan padding */
}

main { /* Penyusunan tampilan untuk bagian utama */
  padding: 20px; /* Penambahan padding */
}

section { /* Penyusunan tampilan untuk setiap bagian (section) */
  margin-bottom: 40px; /* Penambahan margin di bagian bawah */
}

nav ul { /* Penyusunan tampilan untuk menu navigasi */
  list-style-type: none; /* Menghapus gaya daftar default */
  padding: 0; /* Menghapus padding default */
  margin: 0;  /* Menghapus margin default */
  background-color: #333; /* Mengatur warna latar belakang */
  text-align: center; /* Penyusunan teks ke tengah */
}

nav li {
  display: inline; /* Menampilkan item daftar secara horizontal */
}

nav a {
  display: inline-block;  /* Menetapkan elemen anchor menjadi blok */
  padding: 14px 16px; /* Penambahan padding */
  color: white; /* Mengatur warna teks */
  text-decoration: none;  /* Menghapus garis bawah default */
}

nav a:hover {
  background-color: #555; /* Mengubah warna latar belakang saat dihover */
}

img { /* Penyusunan tampilan untuk gambar */
  width: 200px; /* Atur lebar gambar sesuai kebutuhan */
  transition: transform 0.3s ease; /* Efek transisi untuk perubahan */
}

img:hover {
  transform: scale(1.1); /* Perbesar gambar ketika dihover */
}

.book { /* Penyusunan tampilan untuk kontainer buku */
  border: 1px solid #CCC; /* Penambahan border */
  border-radius: 5px; /* Penambahan radius sudut */
  padding: 20px; /* Penambahan padding */
  margin-bottom: 20px; /* Penambahan margin di bagian bawah */
}

#main-content { 
  /* Penyusunan tampilan untuk konten utama */
  padding: 20px;  /* Penambahan padding */
}

#pagination { /* Penyusunan tampilan untuk pagination */
  text-align: center; /* Mengatur konten ke tengah */
}

#pagination button {
  padding: 8px 16px; /* Penambahan padding */
  background-color: #555655;  /* Mengatur warna latar belakang */
  color: white; /* Mengatur warna teks */
  border: none; /* Menghapus border */
  cursor: pointer;  /* Mengubah kursor saat dihover */
  transition: background-color 0.3s;
  /* Untuk memastikan tombol berada di baris yang sama */
  display: inline-block; /* Memastikan tombol ditampilkan secara inline */
}

#pagination button:hover {
  background-color: #0b100b; /* Mengubah warna latar belakang saat dihover */
}

.book img { /* Penyusunan tampilan untuk gambar di dalam kontainer buku */
  max-width: 100%; /* Menetapkan lebar maksimum untuk gambar */
  height: 300px; /* Menetapkan tinggi untuk gambar */
  border-radius: 5px; /* Penambahan radius sudut */
}

button { /* Penyusunan tampilan untuk tombol */
  background-color: #FF5733; /* Mengatur warna latar belakang */
  color: #FFFFFF; /* Mengatur warna teks */
  border: none; /* Menghapus border */
  padding: 10px 20px;  /* Penambahan padding */
  border-radius: 5px; /* Penambahan radius sudut */
  cursor: pointer; /* Mengubah kursor saat dihover */
}

button:hover {
  background-color: #E5482B; /* Mengubah warna latar belakang saat dihover */

}

footer { /* Penyusunan tampilan untuk bagian footer */
  background-color: #F3F3F3; /* Mengatur warna latar belakang */
  padding: 20px; /* Penambahan padding */
  text-align: center;
}

.alert {
  background-color: #FFC107;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer h2 {
  color: #fff;
}

footer .contact-info, footer .about-info {
  margin-bottom: 20px;
}

footer p {
  margin: 5px 0;
}

#waktu {
  text-align: center; /* Mengatur teks menjadi berada di tengah */
  font-family: "Nama Font"; /* Mengganti font */
}
